
<div class="footer-section"> <!--my-auto-->
    <div class="footer-section">
        <div style="text-align: center !important; margin-top: auto;">
            <div class="text-center d-none d-md-inline D-NONE">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        
            <!-- Sidebar Message -->
            <div class="sidebar-card d-lg-flex">
                <a class="btn btn-logo btn-sm" href="https://www.eulji.ac.kr/index.html#">
                    <img class="sidebar-card-illustration elji" src="/css/img/elji-logo-small.svg" alt="...">
                </a>
                <a class="btn btn-logo btn-sm" href="http://www.turingbio.com/">
                    <img class="sidebar-card-illustration  tbw" src="/css/img/TB-dark.png" alt="...">
                </a>
            </div>
            </div>

        <div class='d-flex'>
            <a href="/privacy">개인정보 처리 방침</a>
        </div>
        <hr class="sidebar-divider">

        <div class="copyright  my-auto"> <!--text-center-->
            <span>Copyright &copy; 2021 TURINGBIO Inc. All rights reserved.</span>
        </div>  
        <div class="justify-content-between D-NONE">
            <div>
                <p></p>
            </div> 
            
                <div id="" class="footer-info D-NONE">
                    <h3 class="">Contact</h3>		
                        <div class='row'><i class="fas fa-fw fa-map-marked-alt" >  </i>	
                            <p>
                            506-1 Woorim W-city, 255 Pangyo-ro 9-22,<br />
                            Bundang, Seongnam, 13486, Korea		
                            </p></div>
                    <div class='row'>
                        <i class="fas fa-fw fa-phone-alt"> </i>
                            <p>(+82) 31-628-8006 </p> </div>
                        <div class='row'>
                            <i class="fas fa-fw fa-comment-alt"> </i>
                            <a href="mailto:info@turingbio.com" target="_blank">
                                <p>info@turingbio.com</p></a>
                        </div>						
                </div>

        </div><!-- .widget-area -->
    </div><!-- .row.multi-columns-row -->

</div>


