av
streamlit
streamlit-webrtc
openai
langchain
langchain-openai
anthropic
duckduckgo-search~=5.1.0
chromadb==0.4.13
pysqlite3-binary
openpyxl
opencv-python
tensorflow==2.15.0
torch
sentence-transformers
catboost
lightgbm
xgboost==1.1.1
scikit-learn==0.24.1
wikipedia
xmltodict
ionic-langchain
arxiv
