setuptools==69.5.1
av
streamlit
streamlit-webrtc
streamlit-pdf-viewer
streamlit-shap
streamlit-option-menu
openai
langchain
langchain-openai
librosa~=0.10.2
anthropic
duckduckgo-search~=5.1.0
chromadb @ git+https://github.com/ppijbb/dtw_chroma.git
pysqlite3-binary
openpyxl
opencv-python~=4.8.0.76
opencv-contrib-python~=4.8.0.76
opencv-python-headless~=4.8.0.76
scikit-image~=0.24.0
numpy~=1.26.2
tensorflow~=2.17.0
keras
tornado~=6.4.1
torch
tslearn
sentence-transformers
catboost
lightgbm
xgboost
shap
scikit-learn
wikipedia
xmltodict
ionic-langchain
ipython
arxiv
plotly
pydub
ray[all]
pytesseract
easyocr
paddlepaddle
paddleocr
supervision
SpeechRecognition
inference-cpu
python-bidi
tensorrt
onnx
onnxruntime
openvino
modin[all]
