
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
    $('.login').click(function(){
        var offset = $('#login').offset();
        console.log(offset);
        $('html').animate({scrollTop : offset.top}, 400);
    });
    $('.check').click(function(){
        var offset = $('#check').offset();
        console.log(offset);
        $('html').animate({scrollTop : offset.top}, 400);
    });
    $('.profile').click(function(){
        var offset = $('#profile').offset();
        console.log(offset);
        $('html').animate({scrollTop : offset.top}, 400);
    });
});
    </script>
    <style>
        a.sideBar {
            position: fixed;
            left: 50%;
        }
    </style>
</head>

<div>
    <h1>HOME</h1><br>
    <h2>Top</h2>
    <div>
        <a href="#" class="sideBar login box">login</a><br>
        <a href="#" class="sideBar check box">check</a><br>
        <a href="#" class="sideBar profile box">profile</a><br>
        <script src="../js/scroll.js" type="text/html"></script>
    </div>
    <div style="height: 200px; width:auto;">
        <a id="login" href="/login">로그인하기</a><br>
    </div>
    <div style="height: 200px; width:auto;">
        <a id="join" href="/join">회원가입하기</a><br>
    </div>
    <div style="height: 200px; width:auto;">
        <a id="check" href="/check">체크하기</a><br>
    </div>
    <div style="height: 200px; width:auto;">
        <a id="logout" href="/logout">로그아웃</a>
    </div>
    <div style="height: 200px; width:auto;">
        <a id="profile" href="/profile">프로필</a>
    </div>
</div>
