<div class='card'>
  <div class='card-body onlyforuser row'>
    <!-- <div class='row'> -->
    <div class="card-body-top">
        <p class=''>심혈관 건강 평가</p>
        <div>CardioHeq는 심혈관질환자와 정상인 사이의 혈액, 영양 및 생활 패턴 빅데이터를 이용하여 질환
          및 질환
          수준을 예측하고 사용자의 건강 상태를 조정 및 개선 방안을 제공하는 서비스입니다.<br /> <br />

          심장질환에는 허혈성 심장질환(심근경색, 협심증 등)과
          심부전증 등이 있고, 뇌혈관질환으로는 뇌졸중(허혈성, 출혈성 등)이
          있으며 고혈압, 당뇨병, 고지혈증, 동맥경화증 등의
          선행질환을 총칭합니다.</div>
    </div>
    <div class="card-body-bottom">           
      <div class='btn btn-light row menu-button' id='16BTN' onclick={userto16(this)}>
        <img class="card-img-top" src="/css/img/basic.png" alt="Card image cap">
        <div class="select_menu card-item">  
            <div class='infobox'>기본 평가는 심혈관 건강 지수를 측정하기 위한
                식생활 패턴에 대한 질문입니다. 로그인 없이 간편하게 건강지수 측정이 가능합니다.</div>
            <p><i class="fas fa-tasks"></i>
                기본평가
                <small class="text-muted">13문항 / 약 2분</small></p>
        </div>
      </div>

        <div class='btn btn-light row menu-button' id="33BTN" onclick={userto33(this)}>
          <img class="card-img-top" src="/css/img//detail.png" alt="Card image cap">
          <div class="select_menu card-item">
              <div class='infobox'>세부 평가는 세부적인 일반 정보, 혈액 정보, 영양 정보, 생활 정보 항목 33개를 이용하여
                  계산하는 평가방법입니다. 사용자의 지속적인 관리 및 건강상태 모니터링을 위해 로그인이 필요한 서비스입니다.</div>
              <p><i class="fas fa-sliders-h"></i>
                  세부평가
                  <small class="text-muted">33문항 / 약 5분</small></p>
          </div>  
        </div>


      <div class='btn btn-light row menu-button' id="Userlog" onclick={usertoPage(this)}>
        <img class="card-img-top" src="/css/img//history.png" alt="Card image cap">
        <div class="select_menu card-item">        
            <div class='infobox'>지금까지 기록된 자가평가 내역을 통해 나의 심혈관 건강 진단 기록을 확인하고 개선할 수 있습니다.</div>
            <p><i class="fas fa-sliders-h"></i>
            평가내역 <small class="text-muted">내역 관리</small></p>
            </div>
            
        </div>

    </div>
  </div>                    
</div>