<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CardioHeq Service">
    <meta name="author" content="Turingbio">
	<title>CardioHeq-Register</title>

	<!-- Site favicon -->
<!--<link rel="apple-touch-icon" sizes="180x180" href="css/vendor/images/apple-touch-icon.png">-->
<!--<link rel="icon" type="image/png" sizes="32x32" href="css/vendor/images/favicon-32x32.png">-->
	<link rel="icon" type="image/png" sizes="16x16" href="css/img/logo.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/styles/core.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/css/src/plugins/jquery-steps/jquery.steps.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/styles/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>

<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="/">
					<img src="css/img/com_logo.png" alt="">
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="/">Logo</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="css/vendor/images/register-page-img.png" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="register-box bg-white box-shadow border-radius-10">
						<div class="wizard-content">
							<form class="tab-wizard2 wizard-circle wizard" method='post' name='register-form' >
								<h5>필수 입력 정보</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">이메일 주소*</label>
											<div class="col-sm-8">
												<input type="email" name="email" class="form-control" placeholder="email">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">사용자 ID*</label>
											<div class="col-sm-8">
												<input type="text" name="id" class="form-control" placeholder="UserID">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">비밀번호*</label>
											<div class="col-sm-8">
												<input type="password" name="password" class="form-control" placeholder="**********">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">비밀번호 확인*</label>
											<div class="col-sm-8">
												<input type="password" name="password2" class="form-control" placeholder="**********">
											</div>
										</div>
									</div>
								</section>
								<!-- Step 2 
								<h5>Personal Information</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Full Name*</label>
											<div class="col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Gender*</label>
											<div class="col-sm-8">
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" id="male" name="gender" class="custom-control-input">
													<label class="custom-control-label" for="male">Male</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" id="female" name="gender" class="custom-control-input">
													<label class="custom-control-label" for="female">Female</label>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">City</label>
											<div class="col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">State</label>
											<div class="col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</section>
								 Step 3 
								<h5>Payment Method & Info</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Credit Card Type</label>
											<div class="col-sm-8">
												<select class="form-control selectpicker" title="Select Card Type">
													<option value="1">Option 1</option>
													<option value="2">Option 2</option>
													<option value="3">Option 3</option>
												</select>
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Credit Card Number</label>
											<div class="col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">CVC</label>
											<div class="col-sm-3">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Expiration Date</label>
											<div class="col-sm-8">
												<div class="row">
													<div class="col-6">
														<select class="form-control selectpicker" title="Month" data-size="5">
															<option value='01'>January</option>
															<option value='02'>February</option>
															<option value='03'>March</option>
															<option value='04'>April</option>
															<option value='05'>May</option>
															<option value='06'>June</option>
															<option value='07'>July</option>
															<option value='08'>August</option>
															<option value='09'>September</option>
															<option value='10'>October</option>
															<option value='11'>November</option>
															<option value='12'>December</option>
														</select>
													</div>
													<div class="col-6">
														<select class="form-control selectpicker" title="Year" data-size="5">
															<option>2020</option>
															<option>2019</option>
															<option>2018</option>
															<option>2017</option>
															<option>2016</option>
															<option>2015</option>
															<option>2014</option>
															<option>2013</option>
															<option>2012</option>
															<option>2011</option>
															<option>2010</option>
															<option>2009</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							-->
								<!-- Step 4 -->
								<h5>이용약관</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<ul class="register-info">
											<!--
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Email Address</div>
													<div class="col-sm-8">example@abc.com</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Username</div>
													<div class="col-sm-8">Example</div>
												</div>
											</li> -->
											<!--
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Password</div>
													<div class="col-sm-8">.....000</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Full Name</div>
													<div class="col-sm-8">john smith</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Location</div>
													<div class="col-sm-8">123 Example</div>
												</div>
											</li>
										</ul> 
											-->
										<div class="custom-control custom-checkbox mt-4">
											<p class='policy-header'>개인정보 수집・이용 동의(필수)</p>
											<div class="privacy">
											・이용자는 회원가입을 하지 않아도 기본평가은 이용할 수 있습니다. <br><br>
											CardioHeq은 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.<br><br>
											<b>수집하는 개인정보 항목 :</b> 로그인ID , 비밀번호, 이메일, 서비스 이용 데이터<br><br>
											<b>수집 및 이용목적 :</b> 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와
															비인가 사용 방지, 가입 의사 확인, 불만처리 등 민원처리 , 고지사항 전달 및
															이용자가 세부 평가, 내역 관리 등과 같이 개인화 혹은 회원제 서비스<br><br>
											<b>보유 및 이용기간 :</b> 회원탈퇴 시까지 보관합니다. 단, 관계 법령에 따라 개인정보를 보존해야하는 경우, 회사는 해당 법령에 정한 기간동안 보관합니다.
											</div>
											<p class='policy'>※동의를 거부할 수 있으나 거부 시 회원가입이 불가능하며 회원제 서비스 이용이 불가능합니다.</p>
											<div style="position:relative ;">
												<input type="checkbox" class="custom-control-input" id="customCheck1">
												<label class="custom-control-label" for="customCheck1">
												<p class='agreement'>위의 개인정보 수집・이용 안내에 동의합니다.</p></label>
												</div>
										</div>
									</div>
								</section>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- success Popup html Start -->
	<button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static" >Launch modal</button>
	<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered max-width-400" role="document">
			<div class="modal-content">
				<div class="modal-body text-center font-18">
					<h3 class="mb-20">회원가입</h3>
					<div class="mb-30 text-center"><img src="css/vendor/images/success.png"></div>
					입력하신 정보로 CardioHeq 계정 생성을 진행합니다.
					</div>
				<div class="modal-footer justify-content-center">
					<a href="javascript:joinpost();" class="btn btn-primary">가입하기</a>
				</div>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="css/vendor/scripts/core.js"></script>
	<script src="css/vendor/scripts/script.min.js"></script>
	<script src="css/vendor/scripts/process.js"></script>
	<script src="css/vendor/scripts/layout-settings.js"></script>
	<script src="css/src/plugins/jquery-steps/jquery.steps.js"></script>
	<script src="css/vendor/scripts/steps-setting.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script defer type='text/javascript' src="js/registerscript.js"></script>
</body>

</html>