    <!-- Sidebar Toggle (Topbar) -->
    <button class="btn btn-link d-md-none rounded-circle mr-3" >
        <i class="fa fa-bars"></i>
    </button> 
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="brand-icon "> <!-- rotate-n-15 -->    
            <a class="d-flex align-items-center justify-content-center" href="/">
         <embed class="mb-2 logo" src="/css/img/CardioHeq_Model.svg" alt="...">
    <!--    <i class="fas fa-hand-holding-medical"></i>   -->
         </a>   </div>

        <div class="d-sm-flex align-items-center justify-content-between ">
            <h1 class="h3 mb-0 text-gray-600 font-weight-bold" style="text-align: center;">
				<div class='product'>CardioHeq
                    <div class="beta"></div>
                </div>
                <p class='subtitle'>Cardiovascular Health Equalizer</p>
            </h1>
        </div>

        <ul class="Login row">
            <hr class="topbar-divider">
            <div>
            <p id="Login-Section">로그인이 필요합니다</p>
            <div>
            <a href="/login">
            <div class="btn btn-sm btn-light mr-1">
                Sign In<i class="fas fa-fw fa-sign-in-alt"></i>
            </div></a>
            <a href="/register">
            <div class="btn btn-sm btn-light ml-1">
                Sign Up<i class="fas fa-fw fa-user-circle"></i>
                </div></a>
            <a href="http://www.turingbio.com/contacts">
            <div class="btn btn-sm btn-light ml-1">
                Support<i class="fas fa-fw fa-headset"></i>
                </div></a>
            </div></div>
        </ul>
    </div>
